@CHARSET "ISO-8859-1";
  <style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
 	  margin-top:-12px;
      background-color: #ff4d4d;
      background-repeat: repeat-x;
      color: black;
      padding: 50px 30px;
      font-family: Montserrat, sans-serif;
      text-align: center;
      font-size: 25px;
  }
   .navbar {
      margin-bottom: 0;
      background-color: black;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 20px;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  #copyright
  {
  	background-image:url("./Images/1.jpg");
  	text-align: "center";
  }
  a:active
  {
  	color: white;
  }
   a:link
  {
  	color: white;
  }
  a:visited
  {
  	color: white;
  }
  a:hover
  {
  	color: white;
  }
  .container-fluid {
      padding: 60px 50px;      
  }
  .bg-grey {
      background-color: white;
  }
</style>
